<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>詳細表示</title>
</head>
<body>
    <h1><%= item.title %> の詳細</h1>
    <p>ID: <%= item.id %></p>
    <p>著者: <%= item.author %></p>
    <hr>
    <a href="/books">一覧に戻る</a>
</body>
</html>