<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>詳細表示</title>
</head>
<body>
    <h1><%= item.name %> の詳細</h1>
    <p>ID: <%= item.id %></p>
    <p>価格: <%= item.price %></p>
    <hr>
    <a href="/items">一覧に戻る</a>
</body>
</html>