<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>タスク一覧</title>
</head>
<body>
    <h1>タスク管理システム</h1>
    
    <h3>新規登録</h3>
    <form action="/tasks/add" method="POST">
        <input type="text" name="title" placeholder="タスク名" required>
        <input type="text" name="limit" placeholder="期限" required>
        <button type="submit">登録</button>
    </form>
    <hr>
    <table border="1">
        <tr><th>ID</th><th>タイトル</th><th>操作</th></tr>
        <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><a href="/tasks/<%= row.id %>"><%= row.title %></a></td>
            <td><a href="/tasks/delete/<%= row.id %>">削除</a></td>
        </tr>
        <% } %>
    </table>
    <br>
    <a href="/books">図書管理へ</a> | <a href="/items">商品管理へ</a>
    <hr>
    <a href="/">ポータル画面（ホーム）へ戻る</a>
</body>
</html>